
@model List<WebRate.ViewModels.TopicViewModel>



@{
    ViewBag.Title = "Index";
}

<h2>Topic Reviews</h2>



<table class="table">

    <tr>
        <th>
            Topics
        </th>
        <th>
            Comments
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {








        <tr>
            <td>
                @item.TopicName
            </td>
            <td>

                @foreach (var x in item.Comments)
                {

                    <b>@x.UserID </b><span> </span> @x.DetailComment<br>



                }


            </td>

        </tr>
    }

</table>
